:root {
  color-scheme: dark;
}
#form {
    width: 410px;
    margin: 0px 0px 50px 60px;
    padding: 0px 0px 0px 40px;
    position: relative;
}
#form p {
    margin: 0 0 15px;
}
#form span {
}
#form input {
    width: 280px;
    margin: 0 20px 0 0;
    cursor: pointer;
}
#form select {
    width: 140px;
    cursor: pointer;
}
#form h4 {
    margin: 10px 0 10px;
}
#form span.notes {
    margin-left: 20px;
    color: #8888c6;
    opacity: 60%;
    font-size: 0.8em;
}
#form .right-selector {
    float: right;
}
#form button#submit {
    padding: 1px 22px;
    cursor: pointer;
    margin-right: 5px;
}
#form button#submit:hover {
    color: #333;
    background-color: #aaa;
    border-radius: 3px;
}
#form div#loader {
    width: 32px;
    height: 32px;
    position: absolute;
    background-repeat: no-repeat;
    top: 37px;
    background-image: url('/static/images/loading.gif');
    left: 460px;
}
#form div#loader.hidden {
    display: none;
}
table {
    text-align: left;
    margin: 0 0 0 100px;
}
table th {
    padding-right: 40px;
}
table td {
    padding: 5px 10px 0 0;
}
