:root {
  color-scheme: dark;
}
#form {
    width: 430px;
    margin: 0 0 40px 100px;
}
#form p {
    margin: 0 0 15px;
}
#form span {
}
#form input {
    margin: 0 0 0 10px;
}
#form select {
}
#form h4 {
    margin: 10px 0 10px;
}
#form span.notes {
    margin-left: 20px;
    color: #8888c6;
    opacity: 60%;
}
#form .right-selector {
    float: right;
}
#form button#submit {
    padding: 4px 24px;
    margin-top: 10px;
}
