:root {
  color-scheme: dark;
}
#form {
    width: 400px;
    margin: 0px 0px 0 60px;
    padding: 30px 400px 40px 40px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}
#form p {
    margin: 0 0 15px;
}
#form span {
}
#form input {
    margin: 0 0 0 10px;
}
#form select {
}
#form h4 {
    margin: 10px 0 10px;
}
#form span.notes {
    margin-left: 20px;
    color: #8888c6;
    opacity: 60%;
    font-size: 0.8em;
}
#form .right-selector {
    float: right;
}
#form button#submit {
    padding: 4px 28px;
    margin-top: 5px;
}
