{% extends "layout.html" %}
{% block content %}

<h1 class="heading">Cross Tab Bar Chart</h1>

<form id="form" method="post" action="{{ url_for('graph') }}">
    <p><span>Column 1: </span><select name="col_1">
        {% for op in options %}
            {% if op == selector_1 %}
            <option selected="selected">{{ op }}</option>
            {% else %}
            <option>{{ op }}</option>
        {% endif %}
        {% endfor %}
    </select></p>
    <p><span>Column 2: </span><select name="col_2">
        {% for op in options %}
            {% if op == selector_2 %}
            <option selected="selected">{{ op }}</option>
            {% else %}
            <option>{{ op }}</option>
        {% endif %}
        {% endfor %}
    </select></p>
    <p><span>Hearing Type: </span><select name="case_type">
        {% for op in ['Initial', 'Appellate', 'All Cases'] %}
            {% if op == case_type %}
                <option selected="selected">{{ op }}</option>
            {% else %}
                <option>{{ op }}</option>
            {% endif %}
        {% endfor %}
    </select></p>
    {% if checked %}
        <p><span>Stacked Bar: </span><input checked type="checkbox" name="is-stack" value="true"></p>
    {% else %}
        <p><span>Stacked Bar: </span><input type="checkbox" name="is-stack" value="false"></p>
    {% endif %}
    <p><button type="submit" id="submit" name="submit">Generate Graph</button></p>
    <span class="clear"></span>
</form>

<div id= "chart"></div>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
  var graphs = {{ graph_json | safe }};
  Plotly.plot('chart', graphs, {});
</script>

{% endblock %}
