{% extends "layout.html" %}
{% block content %}

<h1 class="heading">Line Chart</h1>

<form id="form" method="post" action="{{ url_for('lines') }}">
    <h4>Chart Selectors</h4>
    <p><span>Feature:</span><span class="right-selector"><select name="col">
        {% for op in options %}
            {% if op == selector %}
            <option selected="selected">{{ op }}</option>
            {% else %}
            <option>{{ op }}</option>
        {% endif %}
        {% endfor %}
    </select><span class="notes">Pandas DataFrame</span></span></p>
    <p><span>Hearing Type:</span><span class="right-selector"><select name="case_type">
        {% for op in ['Initial Hearings', 'Appellate Hearings', 'All Hearings'] %}
            {% if op == case_type %}
                <option selected="selected">{{ op }}</option>
            {% else %}
                <option>{{ op }}</option>
            {% endif %}
        {% endfor %}
    </select><span class="notes">SQL Query Filter</span></span></p>

    <p><span>Line Width:</span><span class="right-selector"><select name="line_width">
        {% for op in ['Thin', 'Medium', 'Thick'] %}
            {% if op == line_width %}
                <option selected="selected">{{ op }}</option>
            {% else %}
                <option>{{ op }}</option>
            {% endif %}
        {% endfor %}
    </select><span class="notes">Plotly Parameter</span></span></p>

    <p><button type="submit" id="submit" name="submit">Generate Line Chart From Database</button></p>
    <span class="clear"></span>
</form>

<div id= "chart"></div>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
  var graphs = {{ graph_json | safe }};
  Plotly.plot('chart', graphs, {});
</script>

<blockquote>
    <p>A line chart or line plot or line graph or curve chart is a type of chart
    which displays information as a series of data points called 'markers'
    connected by straight line segments. It is a basic type of chart common
    in many fields. It is similar to a scatter plot except that the measurement
    points are ordered (typically by their x-axis value) and joined with straight
    line segments. A line chart is often used to visualize a trend in data over
    intervals of time – a time series – thus the line is often drawn
    chronologically. In these cases they are known as run charts.</p>
    <cite><a href="https://en.wikipedia.org/wiki/Line_chart">Wikipedia: Line chart</a></cite>
</blockquote>

{% endblock %}
