{% extends "layout.html" %}
{% block content %}

<h1 class="heading">Table View</h1>

<blockquote>
    <p style="margin-bottom: 0">This page is intended for testing only.</p>
</blockquote>

<p style="margin-bottom: 40px">The input field below takes a file name or "UUID" of a PDF case file. It then
    locates the file and processes it. Processing includes turning each page
    into an image, running OCR on each page and then scraping the raw text for
    valuable data. The data is then stored in a database and the table is
    updated. During this process a small loading gif will be displayed. It will
    be dismissed when the process is finished.</p>

<h4>Test File UUIDs</h4>
<ul>
    <li>0563a753-aefd-4026-8d22-a24169132933</li>
    <li>0333dc84-ea98-4be8-85dc-5c8f0410af20</li>
    <li>00c76f3f-c4e2-49b8-9adf-c1044302627d</li>
    <li>00ef179e-ad1d-474f-bd36-97b18aac452e</li>
    <li>01881766-7409-43a9-a6bd-fa392c87cbe4</li>
    <li>03d8f05d-f60a-4f31-b2cc-5a3da5c3c59b</li>
</ul>

<form id="form" method="post" action="{{ url_for('table') }}">
    <h4>Insert file by UUID</h4>
    <input type="text" name="uuid" />
    <button type="submit" id="submit" name="submit">Insert</button><div id="loader" class="hidden"></div>
</form>

<table>
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">uuid</th>
            <th scope="col">panel_members</th>
            <th scope="col">hearing_type</th>
            <th scope="col">application_type</th>
            <th scope="col">date</th>
            <th scope="col">country_of_origin</th>
            <th scope="col">outcome</th>
            <th scope="col">case_origin_state</th>
            <th scope="col">case_origin_city</th>
            <th scope="col">protected_grounds</th>
            <th scope="col">type_of_violence</th>
            <th scope="col">gender</th>
            <th scope="col">indigenous_group</th>
            <th scope="col">applicant_language</th>
            <th scope="col">credibility</th>
            <th scope="col">check_for_one_year</th>
        </tr>
    </thead>
    {% for row in table %}
    <tr>
        {% for cell in row %}
        <td>{{ cell }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<script>
    function update() {
        document.getElementById("loader").classList.remove("hidden");
    }
    document.getElementById("submit").addEventListener("click", update);
</script>
{% endblock %}
